name: Docker Builder Image CI

on:
  push:
    branches: ["main"]
    paths:
      - Dockerfile.builder
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/builder.yml
  pull_request:
    branches: ["main"]
    paths:
      - Dockerfile.builder
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/builder.yml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create Builder Version
        run: echo "BUILDER_VERSION=builder-$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Echo Builder Version
        run: echo $BUILDER_VERSION

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push the Docker image
        run: |
          docker buildx build . \
            --file Dockerfile.builder \
            --tag nannoda/exchange-rate-bot:$BUILDER_VERSION \
            --tag nannoda/exchange-rate-bot:builder-latest \
            --platform linux/amd64 \
            --push

