name: Docker Image CI (Dependency Change)
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_run:
    workflows: ["Docker Builder Image CI"]
    branches: ["main"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set app version
        run: echo "APP_VERSION=$(date +'v%Y-%m-%d-%H%M%S')" >> $GITHUB_ENV
      - name: Echo app version
        run: echo $APP_VERSION

      - name: Create Builder Version
        run: echo "BUILDER_VERSION=builder-$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Echo Builder Version
        run: echo nannoda/exchange-rate-bot:$BUILDER_VERSION
      

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push the Docker image
        run: |
          docker buildx build . \
            --file Dockerfile \
            --tag nannoda/exchange-rate-bot:$APP_VERSION \
            --tag nannoda/exchange-rate-bot:latest \
            --platform linux/amd64,linux/arm64 \
            --build-arg APP_VERSION="$APP_VERSION" \
            --build-arg BASE_IMAGE=$BUILDER_VERSION
            --push
